//
   Created by songshuang on 15/9/11.

//
div.modal.hide.fade.in#form-conent(style="display:none;")
   div.modal-header
      a.close(data-dismiss="modal")
      | x
      h3
      | 接口修改
   div.modal-body
      form.contact(name='contact')
         label.label
         br
         input.input-xlarge(type='text')
         br
         label.label
         br
         input.input-xlarge(type='text')
         label.label
         br
         input.input-xlarge(type='text')
         br
         label.label
         br
         input.input-xlarge(type='text')
   div.modal-footer
      input.btn.btn-success(type="submit" value="保存")

