//
   Created by songshuang on 15/9/11.

//
//div.modal.hide.fade.in#editModal(style='display:none')
//   div.modal-header
//      a.close(data-dismiss='modal')
//      | x
//      h3
//      | 编辑
//   div.modal-body
//      h1
//      | test
//   div.modal-footer
//      a.btn.btn-success(href='#')
//      | 保存
//      a.btn(href='$#')
//      | 关闭

div.modal.hide.fade#editModal
   div.modal-header
      a.close(title='关闭') x
   div.modal-body
      a.btn.primary 保存