//
   Created by songshuang on 15/8/18.


script(type='text/javascript').

   init();
   /**
    *
    *绑定组件事件
    *
    * */
   function init() {

      /*
      *
      * 创建新的接口
      *
      */
      $(document).on('click', '#new_interface_button', function(){
         console.log('click');
         new_interface_button();
      });
   }


   function new_interface_button () {
      var ret = $.ajax({
         url: '/iServer/new_interface',
         type: 'GET'
      });

      ret.done(function(data) {

      });

      ret.error(function(data){

      });
   }

