//
   Created by songshuang on 15/9/1.
extends  ../layout/header

block headContent
   link(rel='stylesheet', href='/stylesheets/iServer/new_interface.css')
   script(src="/javascript/iServer/interface_list.js")
block bodyContent
   div
      div.interface_data
         table.table.table-condensed
            - var list = docs;
            - console.log(list[0].interface_desc);
            caption #{list.interface_name}
            thead
               tr
                  th 接口名
                  th 接口返回类型
                  th 接口参数类型
                  th 接口描述
            tbody
            - each item in list
               tr
                  td #{item.interface_name}
                  td #{item.interface_desc}
                  td
                     div.panel-group#accordion
                        div.panel.panel-info
                           div.panel-heading
                              h4.panel-title
                                 a(data-toggle="collapse" data-parent="#accordion" href="#collapseThree")
                                    | 点击我进行展开，再次点击我进行折叠。
                        div#collapseThree.panel-collapse.collapse
                           div.panel-body
                              |Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  td #{item.interface_desc}