//
   Created by songshuang on 15/9/1.
extends  ../layout/header

block headContent
   link(rel='stylesheet', href='/stylesheets/iServer/new_interface.css')
   script(src="/javascript/iServer/interface_list.js")
block bodyContent
   div(style='width:80%; margin-left:13%')

      include edit_interface

      div.interface_data
         table.table.table-condensed
            - var list = JSON.parse(docs);
            caption #{list.interface_name}
            thead
               tr
                  th 接口名
                  th 接口返回类型
                  th 接口参数类型
                  th 接口描述
            tbody
            each item in list
               tr
                  td
                     + check_null(item.interface_name)
                  td
                     + check_null(item.return_type)
                  td
                     - var param_list = JSON.parse(item.interface_param);
                     - var length     = param_list.length;
                     each param, key in param_list
                        if (key == length-1)
                           + check_null(param.param_type)
                        else
                           if param.param_type == ''
                              | '无'
                           else
                              |  #{param.param_type + ', '}
                  td
                     + check_null(item.interface_desc)
                  td
                     - item = JSON.stringify(item);
                     a.editInterface.btn(data-toggle="modal" data-target='#editModal', data-info='#{item}')
                        | 修改编辑接口
                     a.removeInterface.btn
                        | 删除

         include ../common/pagenation
   //判断是否为空方法
   mixin check_null (param)
      if param == ''
         | '空'
      else
         | #{param}