//
   Created by songshuang on 15/9/1.
extends  ../layout/header
block headContent
   link(rel='stylesheet', href='/stylesheets/iServer/new_interface.css')
   script(src="/javascript/iServer/interface_list.js")
block bodyContent
   div
      div.interface_data
         table.table.table-condensed
            caption list.interface_name #{list}
            thead
               tr
                  th 接口名
                  th 接口返回类型
                  th 接口参数类型
                  th 接口描述
            tbody
               tr
                  td ceshi
                  td fsadf
                  td sadkf
                  td aslkdjflsak
               tr
                  td ceshi
                  td fsadf
                  td sadkf
                  td skdfjalskdjflas
