//
   Created by songshuang on 15/11/17.
doctype
html
   head
      meta(charset="utf-8")
      link(rel='stylesheet', href='/stylesheets/iServer/interfaceInfo.css')
      - var InterfaceInfo = JSON.parse(interfaceInfo)[0];
      - var InterfaceName = InterfaceInfo.interface_name;
      - var InterfaceDesc = InterfaceInfo.interface_desc;
      - var InterfaceParam = JSON.parse(InterfaceInfo.interface_param)[0];
      - var ReturnName = InterfaceInfo.return_name;
      - var ReturnType = InterfaceInfo.return_type;
   body

      h1 #{InterfaceParam}