//
   Created by songshuang on 15/9/1.
extends  ../layout/header
block headContent
   link(rel='stylesheet', href='/stylesheets/iServer/new_interface.css')
   script(src="/javascript/iServer/interface_list.js")
block bodyContent
   div
      div.interface_data
         table.table.table-condensed
            - var list = docs;
            - console.log(list[0].interface_desc);
            caption #{list.interface_name}
            thead
               tr
                  th 接口名
                  th 接口返回类型
                  th 接口参数类型
                  th 接口描述
            tbody
            - each item in list
               tr
                  td #{item.interface_name}
                  td #{item.interface_desc}
                  td sadfasd
                  td #{item.interface_desc}