//Created by songshuang on 15/8/9.
extends  ../layout/header

block headContent
   link(rel='stylesheet', href='/stylesheets/iServer/iServer.css')
   script(src="/javascript/iServer/home.js")
block bodyContent
   div(class='header')

   div(class='server_form_warpper')
      div(class='iServer')
         h1='iServer'
         div
            form(class='search_form' action='/iServer/search')
               input(type='text' value='请输入您要查询的接口相关信息' class='input_search_text' name='search_text')
               input(type='submit' value='搜索' class='input_search_button')
            if searchData !== void 0
               div#bdsug.bdsug-show
            else
               div#bdsug.bdsug-none

                  ul.bdsug-ul
                     li.bdsug-overflow
                     li.bdsug-overflow
                     li.bdsug-overflow
                     li.bdsug-overflow