//Created by songshuang on 15/8/9.
extends  ../layout/header

block headContent
    link(rel='stylesheet', href='/stylesheets/iServer/new_interface.css')
    include ../../public/jade/iServer/new_interface

block bodyContent
    div
        div.new_interface_form
            form(role='form')
                div.form-group
                    label.new_interface_param 接口名
                    div
                        input.form-control(type='text' name='interface_name' id='interface_name' placeholder='请输入新接口名')
                div.form-group
                    label.new_interface_param 返回值类型
                    div
                        input(type='text' name='return_value_type' id='return_value_type' class='form-control' placeholder='请输入返回值类型')
                    label.new_interface_param 返回值
                    div
                        input(type='text' name='return_value' id='return_value' class='form-control' placeholder='请输入返回值')
                div.form-group
                    div.param_div
                        label.new_interface_param 参数类型
                        input(type='text' name='param_value_type' class='form-control' placeholder='请输入参数类型')
                        label(class='new_interface_param') 参数名
                        input(type='text' name='param_value_name' class='form-control' placeholder='请输入参数名')
                    div.add_param
                        a(href='#' id='add_param') 添加参数
                div.form-group
                   label.new_interface_param 接口描述
                   div
                       textarea(name='des_interface' id='des_interface' class='form-control' placeholder='接口描述')
                button.save_new_interface.btn.btn-default(type='submit') 创建