//
   Created by songshuang on 15/11/14.

doctype html5
html
   head
      title 邮件发送成功
      link(rel="stylesheet" href="/stylesheets/sendEmailSuccess.css")
   body
      div
         div.registerNav

         div#redirectIndex
            a#toIndex(href="/home?userName=#{userName}") 前往首页


