//
   Created by songshuang on 15/10/11.
link(rel="stylesheet" href='/stylesheets/pagination.css')

div.paginationDiv
   div.pagination
      a.btn#fist
         span
         | 首页
   div.pagination
      a.btn
         span
         | 跳转到&nbsp
      input#gotoPage(type='text')
      span
      | &nbsp&nbsp页
   div.pagination
      a.btn#last
         span
         | 尾页

