//
   Created by songshuang on 15/8/9.

dotype
head
   title='iServer Admin'
   meta(charset='utf-8')
   link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
   link(rel="stylesheet" href="/stylesheets/iServer/iServer.css")
   script(type='text/javascript' src='/lib/js/underscore.js')
   script(type='text/javascript' src='http://code.jquery.com/jquery-2.1.4.min.js')
   script(type='text/javascript' src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
   include home
   block headContent
body
   nav.navbar.navbar-default
      div.navbar-header
         a(type='button' href="/home") 首页
      div.navbar-header
         a(type='button' class='navbar-toogle' data-toggle='collapse' id='new_interface_button') 创建新接口

      div.navbar-header
         a.navbar-toogle(type='button' id='interface_list') 所有接口

      if userName === void 0
         div.navbar-header(style="float: right; display:inline")
            ol
               li.welcomeUser
                  a#userName(onclick="showUserInfo()") 名字
                  div#userInfo
                     span asdfasdf
               li.welcomeUser
               | 又是你！

         script.
            function showUserInfo () {
               document.getElementById("userInfo").style.visibility = "visible"
            }
   block bodyContent

