//
   Created by songshuang on 15/8/9.

dotype
head
   title='iServer Admin'
   meta(charset='utf-8')
   link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
   block headContent

body
   nav(class='navbar navbar-default')
   div(class='navbar-header')
      a(class='navbar-brand' href='#')=songshuangkk
   block bodyContent

