//
   Created by songshuang on 15/8/18.


script(type='text/javascript').

   init();
   /**
    *
    *绑定组件事件
    *
    * */
   function init() {

      /*
      *
      * 创建新的接口
      *
      */
      $(document).on('click', '#new_interface_button', function(){
         new_interface_button();
      });

      $(document).on('click', '#interface_list', function(){
         interface_list();
      });
   }


   function new_interface_button () {
     window.location = '/iServer/new_interface';
   }

   function interface_list() {
      window.location = '/iServer/interface_list';
   }

