//
   Created by songshuang on 15/8/19.
script(type='text/javascript').

   init_event();

   /*
   *
   * 绑定相关的按钮事件
   *
   * */
   function init_event() {

      //创建接口按钮
      $(document).on('click', '.save_new_interface', click_save_new_interface);

      //添加参数按钮
      $(document).on('click', '#add_param', click_add_param);
   }

   function click_save_new_interface() {
      var data = {};
      data.interface_name   = '';
      data.return_name      = '';
      data.return_type      = '';
      data.interface_des    = '';

      var ret = $.ajax({
         url: '/iServer/save_new_interface',
         type: 'POST',
         dataType: 'json',
         data: JSON.stringify(data)
      });

      ret.done(function(data){
         if (data.success) {

         }
      });

      ret.error(function(error){
         $.alert('创建失败');
      });
   }

   function click_add_param() {
      var add_button = $(this);
      var add_param_div = '<div class="param_div">' +
              '<label class="new_interface_param">参数类型</label>' +
              '<input type="text" name="param_value_type" class="form-control" placeholder="请输入参数类型" />' +
              '<label class="new_interface_param">参数名</label>' +
              '<input type="text" class="form-control" placeholder="请输入参数名"/>' +
              '</div>';
      add_button.parent('.add_param').before(add_param_div);
   }