
body {
    background-color: transparent;
}



/*设置标题文字*/
.server_form_warpper {
    margin-top: 150px;
   text-align: center;
}

/*搜索内容*/
.input_search_text {
    margin-left: 5%;
    width: 300px;
    height: 30px;
    padding: 5px;
}

/*搜索按钮*/
.input_search_button {
    margin-left: 20px;
    font-size: larger;
}

.navbar-header {
    margin-left: 10px;
    margin-top: 10px;
}

.welcomeUser {
    display: inline-block;
    margin-right: 10px;
}

#userName:hover {
    color: red;
    text-decoration: none;
}

#userInfo {
    visibility: hidden;
    position: absolute;
    margin-top: 20px;
}

.bdsug-hidden {
    height: auto;
    width: 300px;
    border: 1px solid #CCCCCC;
    position: absolute;
    margin-left: 38%;
    display: none;
}

.bdsug-show {
    height: auto;
    width: 300px;
    border: 1px solid #CCCCCC;
    position: absolute;
    margin-left: 38%;
    display: block;
}

.bdsug-ul {
    list-style: none;
    float: left;
    padding-left: 1px;
}

.bdsug-overflow {
    font: 15px arial;
    line-height: 22px;
    padding: 0 8px;
}